<!-- comments/new.ejs-->Añadir comentario:
<p> <form method="post" action="/quizes/<%=quizIde%>/comments/">
<input type="text" id="comment" name="comment[texto]" value=""/> </p>
<button type="submit">Enviar</button> </form>
