<!DOCTYE html>
<html>
<head>
 <meta charset="utf-8"> <title>QuizA</title>
 <link rel='stylesheet' href=/stylesheets/style.css>
</head>
<body> <h2>Juego de las preguntas</h2>
   <!-- Pregunta: < %= pregunta % -->
   respuesta: <%= respuesta %>
  <p>   <a href="/quizes/question">Volver</a>  </p>
</body>  
</html>
 
