<!-- author.ejs--><h2>El Padre</h2>
   <p>Felipe Vidal López
	y soy Cordobés</p>
	<h4 align="left"><a href="https://dl.dropboxusercontent.com/u/3736965/VBweb/inicial.htm">
	<img src="https://dl.dropboxusercontent.com/u/3736965/apagon/felipe.JPG" 
	border="0" height="126" width="178" alt="Felipe Vidal"></a> </h4>
	 <br>
<iframe style= 'width:100%;max-width:500px; min-height:200px;'src=
"https://www.youtube.com/embed/5uvM7zeLGyQ?autoplay=0"></iframe>
   <p><a href="/">Volver</a></p> 