<!DOCTYE html>
<html>
<head>
 <meta charset="utf-8"> <title>QuizA</title>
 <link rel='stylesheet' href=/stylesheets/style.css>
</head>
<body> <h2>Padre de este Quiz(author)</h2>
    Autor: Felipe Vidal López
	soy de Córdoba(Spain)
	<h4 align="left"><a href="https://dl.dropboxusercontent.com/u/3736965/VBweb/inicial.htm"><img src="https://dl.dropboxusercontent.com/u/3736965/apagon/felipe.JPG" border="0" height="126" width="178"></a> </h4>
   <p><a href="/quizes/question">Volver</a></p>
</body>  
</html>
 