<!-- author.ejs--><h2>Padre de este Quiz</h2>
    Autor: Felipe Vidal López
	soy de Córdoba(Spain)
	<h4 align="left"><a href="https://dl.dropboxusercontent.com/u/3736965/VBweb/inicial.htm"><img src="https://dl.dropboxusercontent.com/u/3736965/apagon/felipe.JPG" border="0" height="126" width="178"></a> </h4>
   <p><a href="/">Volver</a></p> 