<!--question.ejs--><h2>Juego de preguntas</h2>
<form method="get" action="/quizes/answer">
   Pregunta: <%= pregunta %>  <p>
   <input type="text" name="respuesta" value="Responde aqui"/>
   <input type="submit" value="Envia"/>
  </p>